.animacionTitulos {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}

.imagenCarousel {
  width: 100% !important;
  height: 650px;
	background-repeat: no-repeat;
}

.infoCarousel {
  text-align: center;
  display: flex;
  flex-direction:column;
  align-content: center;
  padding-top: 15%;
  align-content: center;
}

.olas {
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 100% !important;
  position: relative;
}

.background-navbarLight {
  background-color: #FDCEDE;
}

.background-navbarDark {
  background-color: #6284E6;
}

.fontTitulos {
  font-family: 'Dancing Script', cursive;
  size: 20px;
  color:#6284E6;
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}

.fontParrafos {
  size: 15px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.fontParrafos2 {
  size: 15px;
  text-align: justify;
  font-family: 'Poppins', sans-serif;
}

.disenoLineaSubLight {
  width: 100%;
  background-color:#FDCEDE;
  border:2px solid #FDCEDE;
  align-content: center;
  margin-bottom: 50px;
}

.disenoLineaSubDark {
  width: 100%;
  background-color:#6284E6;
  border:2px solid #6284E6;
  align-content: center;
  margin-bottom: 50px;
}

.fontSubtitulos {
  size: 40px;
  color:#FDCEDE;
  text-align: center;
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  font-family: 'Dancing Script';
}

.botonPrimario {
  background-color: #6284E6;
  color: white;
  border: 3px solid #6284E6 ;
  border-radius: 10px;
  size: 17px;
}

.botonPrimario:hover {
  background-color: white;
  color: #6284E6;
  border: 3px solid #6284E6 ;
  border-radius: 10px;
  size: 17px;
  font-family: 'Poppins', sans-serif;
}

.botonDark {
  background-color: #FDCEDE;
  color: black;
  border: 3px solid #FDCEDE ;
  border-radius: 10px;
  size: 17px;
  font-family: 'Poppins', sans-serif;
}

.botonDark:hover {
  background-color: #FDCEDE;
  color: black;
  border:3px solid #FDCEDE;
  border-radius: 10px;
  size: 17px;
  font-family: 'Poppins', sans-serif;
}

/* Acerca de */
.estiloAbout {
  border: 3px solid #6284E6;
  border-radius: 10px;

}

.iconosLight {
  background-color: #6284E6;
  color: white;
  display: list-item;
  align-content:space-between;
}

.iconosDark {
  color: #6284E6;
  display: block;
  flex-direction: column;
  align-content:space-between;
  align-items: center;
}


